.cell {
  height: 25px;
  aspect-ratio: 1;
}
.dead {
  background-color: indianred;
}
.alive {
  background-color: darkseagreen;
}
.u-table-container {
  width: 100%;
  height: 100%;
}
.u-table {
  margin: 0 auto;
}
.in-setup {
  background-color: blue;
}
